

    <h1>Forgot password:</h1>

     <%= form_for(:session, url: '/sessions/sent_pass') do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %><br/>

        <%= f.submit "Send password", class: "btn btn-large btn-primary"%>

    <% end %>

