<h3>
  You are successfully registered.<br/>
  <% if params[:as]=='emp' %>
      Your will get an email with your user id and password shortly.
  <% else %>
      After scheduling a test,we will sent an email to you.<br/>
      Email contain ,<br/>
      your user id <br/>
      password<br/>
      schedule date and time of your exam.<br/>

  <% end %>

</h3>