<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Candidate <%= @candidate.name %> cleared the recruitment test.  </h2>

    <p>
      <b>Candidate email id:<%=@candidate.user.user_email  %></b>
    </p>

  </body>
</html>
