<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Test Re-scheduled</h1>
<br/>
<h3>Test detail:</h3>
<p>
  <b> Test Name:</b>
  <i><%= @schedule.exam.name %></i>.
  <br/>
  <b> Date:</b>
  <i><%= @schedule.sh_date.strftime("%b %d %A,%Y") %></i>.
  <br/>
  <b> Time:</b>
  <i><%= @schedule.sh_date.strftime("%I:%M%p") %></i>.
  <br/>
</p>  <br/>
<h3>Candidate's':</h3>
<p>
  <ol>
    <i>
        <% @schedule.candidates.each do |c|%>
           <li> <%= "#{c.name} - #{c.user.user_email}" %></li><br/>
        <% end %>
      </i>
  </ol>
</p>
</body>
</html>