<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>To reset your password click the link,  </h2>

<p>
  <b><%= @url %></b>
</p>

</body>
</html>
