<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi <%= @user.candidate.name %>,</h2>
    <p>Your exam date has been changed.</p>
    <p>
      Test details:<br/>
      Scheduled date is: <%= @user.candidate.schedule.sh_date.strftime("%b %d %A,%Y") %>.<br/>
      Scheduled time is: <%= @user.candidate.schedule.sh_date.strftime("%I:%M%p") %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
      <p>This will be your new schedule for the Suyati online test. If you got any schedule details before you can ignore that. </p>
    <p>Best wishes..</p>
  </body>
</html>