hai, <%= @user.user_email %>
===============================================



Your email id is registered in "Suyati online recruitment test"
You are registered as <%= @user.roles.each{|rol| rol.role_name} %>

...................................................
      your username is: <%= @user.user_email %>.
      your password is: <%= @pass %>.
...................................................
To login to the site, just follow this link:
<a href="javascript:openFrameless()">click here</a>
 
have a great day!
