
    <%= form_for @instruction do |f| %>


        <div class="error_msg">
          <%= render  "shared/error_message", :target => @instruction  %>
        </div>

        <br /><br />
        <b>New Instruction?</b><br />
        <%= f.text_field :instruction%>
        <br />
        <%= f.submit "Add" ,class: "btn btn-large btn-primary",:onclick=>"show_submitting();" %><br />
    <% end %>
