<div>
  <h1>Feedback's</h1>
  <% @results.each do |result| %>
      <div style="font-size: 16px;">
        <b><%= result.feedback %></b>
        <i><%= "-"+result.candidate.name %></i>
        <br/>
      </div>
  <% end %>
</div>