<h2>Exam will be in popup window<br/>
  If you did not find your exam window,<br/>
  enable popup option of your browser or use another browser for the exam.<br/>
  Then start from the beginning.<br/>
</h2>