<div class="error">
    <b>You can't enter to the site because any of the following reason,  <br/>
     </b>
    -you are not a valid candidate. <br/>
    -your scheduled exam was cancelled.   <br/>
    -you are already attends the exam.  <br/>
</div>