<div class="error">
    <b>You can't enter to the site because any of the following reasons,     </b><br/>
    -You are not an 'Active' candidate. Contact HR for make 'Active'<br/>
    -You are not a valid candidate. <br/>
    -Your scheduled exam was cancelled.   <br/>
    -You already attends the exam.  <br/>
</div>