<div class="row">
  <div class="span12 offset0">

<h3 align="center" > <br /> <br />
  <%=image_tag 'congrats.png' %><br /><br />
  You are successfully completed the online recruitment test.  <br /><br />
  Result will be mail to your account soon.     <br /><br />
  Best of luck.  <br />

</h3>

   </div>
</div>