    <div class="row">
      <div class="span12 offset0">
        <h1 align="center" > Suyati Online Recruitment Test</h1>
        <h2>
          Sorry,Page you are requested is not found.Try again later.<br/>
          Thank you for visiting this site.
          <% if signed_in? %>
             <%=link_to 'sign out', '/signout',method: :delete   %>
          <% end %>
        </h2>
</div>
    </div>























