<footer class="footer">
  <h4>
          <% if signed_in? %>
            login by:<%= current_user.user_email %>


            <% if admin? %>
               <% @negative_mark=Setting.find_by_name('negative_mark')  %>
               <% @auto_result=Setting.find_by_name('auto_result') %>
                ||||| Auto Result=><%=@auto_result.status   %>
                ||||| Negative mark=><%= @negative_mark.status  %>
            <% end %>
          <% end %>
  </h4>



</footer>
