<footer class="footer">
  <h4>
          <% if signed_in? %>
            login by:<%= current_user.user_email %>


            <% if admin? %>
                ||||| Auto Result=><%= auto_result.status  %>
                ||||| Negative mark=><%= negative.status %>
            <% end %>
          <% end %>
  </h4>



</footer>
